* {
    text-align: center;
    box-sizing: border-box;
}

/* Incommon for all */
nav {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    border-radius: 12px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
}
nav li, a{
font-size: 15px;
text-decoration: none;
z-index: 1;
display: inline-block;
text-align: center;
margin-inline: 10px;
margin-top: 10px;
margin-bottom: 10px;
}

nav li:hover {
    border-bottom: 2px solid;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
}

/* Inputs styles */

fieldset{
    width: 60%;
    position: relative;
    margin: auto
}
legend {
    font-size: 20px;
    text-align: left;
    background-color: #d3d3d3;
    border-radius: 30px;
}

form label{
    font-size: 16px;
}

form input {
    border: none;
    border-bottom: 1px solid black;
    font-size: 12px;
    width: 60%;
    padding: 20px;
    text-align: left;
}

.submitbtn{
    width: auto;
    margin-top: 10px;
    border-radius: 15px;
    background-color: lightgray;
    margin-left: 100px;
}